/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 23/09/2020, 14:20:40
    Author     : NataN-Pessoa
*/

img{
    width: 100px;
    height: 150px;
    border-radius: 8px;

}

p{
    color: #0069d9;
    font-size: large ;
    font-family: sans-serif;
}

p2{
    color: darkturquoise;
    font-size: initial ;
    font-family: sans-serif;
}